@model IEnumerable<Subscription_File>;
@{

}

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th class="column5">م</th>
                            <th class="column5"> رقم الاشتراك</th>
                            <th class="column5">رقم المشترك</th>
                            <th class="column5"> الاسم</th>
                            <th class="column5"> رقم الجوال</th>
                            <th class="column5">نوع العقار</th>
                            <th class="column5">عدد الوحدات</th>
                            <th class="column5">هل يوجد صرف صحى </th>
                            <th class="column5"> اخر قراءه للعداد </th>
                        </tr>
                    </thead>

                    <tbody>

                        @{int i = 1;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="column5">@i</td>
                                <td class="column5">@item.Subscription_File_No</td>
                                <td class="column5">@item.Subscription_File_Subscriber_CodeId</td>
                                <td class="column5">@item.Subscription_File_Subscriber_Code.Subscriber_File_Name</td>
                                <td class="column5">@item.Subscription_File_Subscriber_Code.Subscriber_File_Mobile</td>
                                <td class="column5">@item.Subscription_File_Rreal_Estate_Types_Code.Rreal_Estate_Types_Name</td>
                                <td class="column5">@item.Subscription_File_Unit_No</td>
                                <td class="column5">
                                    @if(item.Subscription_File_Is_There_Sanitation == true){
                                        @Html.DisplayName("لا")
                                    }
                                    else
                                    {
                                        @Html.DisplayName("لا")
                                    }
                                </td>
                                <td class="column6">@item.Subscription_File_Last_Reading_Meter</td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    main {
        margin-top: 0 !important;
    }


    .container {
        width: 12000px !important;
        margin-right: 237px
    }

    th, td{
        text-align: center !important;
    }

</style>

