<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - water_bill</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap" rel="stylesheet">

    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/vendors/chartist/chartist.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/images/favicon.png" />
    <link rel="shortcut icon" href="~/images/logo-light.svg" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>

    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex align-items-center">
                <a class="navbar-brand brand-logo" asp-controller="Home" asp-action="Index">
                    <img src="~/images/in1.jpg"class="logo-dark" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
                <h2 class="mb-0 font-weight-medium d-none d-lg-flex">@ViewData["Title"] </h2>

            
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">


                    <li class="nav-item nav-category" style="margin:0 auto; font-size:20px">
                        <a class="nav-link">
                            <span class="menu-title">الكشوفات </span>
                        </a>
                    </li>
                    <li class="nav-item @(ViewBag.IsCInvoice==true?"activee":"") ">
                        <a class="nav-link" asp-controller="Invoices" asp-action="Index">
                            <i class="icon-screen-desktop menu-icon"> </i>
                            <span class="menu-title">كشف الفواتير</span>
                        </a>
                    </li>

                    <li class="nav-item "></li>

                    <li class="nav-item @(ViewBag.IsCSubscribtion==true?"activee":"")">
                        <a class="nav-link" asp-controller="Subscribtion" asp-action="Index">
                            <i class="icon-screen-desktop menu-icon"></i>
                            <span class="menu-title">كشف  الاشتراكات</span>
                        </a>

                    </li>
                    <li class="nav-item @(ViewBag.Subscriber==true?"activee":"")">
                        <a class="nav-link" asp-controller="Subscriber" asp-action="Index">
                            <i class="icon-screen-desktop menu-icon"></i>
                            <span class="menu-title">كشف  المشتركين</span>
                        </a>
                    </li>
                    <li class="nav-item @(ViewBag.Rreal==true?"activee":"")">
                        <a class="nav-link" asp-controller="RrealEstate" asp-action="Index">
                            <i class="icon-screen-desktop menu-icon"></i>
                            <span class="menu-title">كشف  العقارات</span>
                        </a>
                    </li>

                    <li class="nav-item"></li>
                    <li class="nav-item nav-category" style="margin:0 auto; font-size:20px">
                        <a class="nav-link">
                            <span class="menu-title">الإضافات </span>
                        </a>
                    </li>
                    <li class="nav-item @(ViewBag.IsCInvoiceCreate==true?"activee":"")">
                        <a class="nav-link" asp-controller="Invoices" asp-action="Create">
                            <i class="icon-plus menu-icon"></i>
                            <span class="menu-title">إضافه فاتوره</span>
                        </a>
                    </li>

                    <li class="nav-item @(ViewBag.IsCSubscribtionCreate==true?"activee":"")">
                        <a class="nav-link" asp-controller="Subscribtion" asp-action="Create">
                            <i class="icon-plus menu-icon"></i>
                            <span class="menu-title">إضافه إشتراك</span>
                        </a>
                    </li>

                    <li class="nav-item @(ViewBag.IsCSubscriberCreate==true?"activee":"")">
                        <a class="nav-link" asp-controller="Subscriber" asp-action="Create">
                            <i class="icon-plus menu-icon"></i>
                            <span class="menu-title">إضافه مشترك</span>
                        </a>
                    </li>
                    <li class="nav-item @(ViewBag.AddRreal==true?"activee":"")">
                        <a class="nav-link" asp-controller="RrealEstate" asp-action="Create">
                            <i class="icon-plus menu-icon"></i>
                            <span class="menu-title">إضافه عقار</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/vendors/chart.js/Chart.min.js"></script>
    <script src="~/vendors/moment/moment.min.js"></script>
    <script src="~/vendors/daterangepicker/daterangepicker.js"></script>
    <script src="~/vendors/chartist/chartist.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/js/dashboard.js"></script>
    <!-- End custom js for this page -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dashboard.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>

    body {
        direction: rtl;
        text-align: right;
        font-family: 'Readex Pro', sans-serif;
    }

    .nav-item.activee a i {
        color: #38ce3c !important;
    }

    .nav-item.activee {
        background: #282828;
    }
</style>

